@import "../utils/mixins";


.explore__main {
    text-align: center;
    /* add index0 */
    padding: 40px;
    background: #f6f6f6;
    & h2 {
        // margin-top: 2rem;
        font-size: 0,5rem;
        margin-bottom: 18px;
        
       
    }
    & p {
        font-size: 1rem;
        font-weight: lighter
    }
    & .btn__gradient {
        @include gradient;
        color: white;
        // font-weight: 100;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 1rem 1.2rem;
        border: none;
        border-radius: 2rem;
        transition: all 200ms;
        margin-top: 2rem;
        @include shadow;
    }
        & .btn__gradient:hover {
        @include zoom;
    }
}