@import "../utils/mixins";


.explore__main {
    text-align: center;
    /* add index0 */
    padding: 50px;
    background: #f6f6f6;
    & h2 {
        margin-top: 2rem;
        font-size: 2rem;
    }
    & p {
        font-size: 1rem;
    }
    & .btn__gradient {
        @include gradient;
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        transition: all 200ms;
        margin-top: 1rem;
        @include shadow;
    }
        & .btn__gradient:hover {
        @include zoom;
    }
}