// @import "../utils/mixins";


// .fonctionnement__main {
//     padding: 0 1rem;
// }

.fonctionnement__main {
    padding: 40px 10px 30px 15px;

   
    & ol {
        display: flex;
        flex-direction: column;
        gap: 1.3rem; 
        padding: 25px 5px;    
        @media (min-width: 800px) {
            flex-direction: row;
            // add index01
            display: wrap;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 25px 200px;
           
        }
    }
   
    & li {
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        position: relative;
        @include shadow;
        &:hover {
            @include zoom;
        }
        & i.fas {
            margin-right: 2rem; 
            color: #9256DC;

        }
    }
    & span {
        position: absolute;
        top: 17px;
        left: -12px;
        color: #FFFFFF;
        background: #9256DC;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
    } 
    
}

@media screen and (min-width: 800px) {
    .fonctionnement__main h2 {
        padding-left: 200px;
}
}
// @media screen and (min-width: 1440px) {
//     .fonctionnement__main h2 {
//           text-align: center;
//     }
//   }

// @media screen and (min-width: 768px) {
//     .fonctionnement__main {
//       flex-wrap: wrap;
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-items: center;
//     }
//   }