/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", serif;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0, 3rem;
  position: relative;
}

.title__header h1 {
  margin: 0px;
}

.city__location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e5e5e5;
  text-align: center;
  padding: 0.8rem;
}
.city__location i {
  font-size: 0.8rem;
}
.city__location h2 {
  font-size: 0.8rem;
  font-weight: normal;
}

.explore__main {
  text-align: center;
  /* add index0 */
  padding: 40px;
  background: #f6f6f6;
}
.explore__main h2 {
  font-size: 0, 5rem;
  margin-bottom: 18px;
}
.explore__main p {
  font-size: 1rem;
  font-weight: lighter;
}
.explore__main .btn__gradient {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 2rem;
  transition: all 200ms;
  margin-top: 2rem;
  box-shadow: 2px 1px 8px -3px #000;
}
.explore__main .btn__gradient:hover {
  transform: scale(1.02);
}

.fonctionnement__main {
  padding: 40px 10px 30px 15px;
}
.fonctionnement__main ol {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 25px 5px;
}
@media (min-width: 800px) {
  .fonctionnement__main ol {
    flex-direction: row;
    display: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 200px;
  }
}
.fonctionnement__main li {
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  position: relative;
  box-shadow: 2px 1px 8px -3px #000;
}
.fonctionnement__main li:hover {
  transform: scale(1.02);
}
.fonctionnement__main li i.fas {
  margin-right: 2rem;
  color: #9256DC;
}
.fonctionnement__main span {
  position: absolute;
  top: 17px;
  left: -12px;
  color: #FFFFFF;
  background: #9256DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .fonctionnement__main h2 {
    padding-left: 200px;
  }
}
.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.restaurant .restaurant__title {
  padding: 40px 20px 20px 15px;
}

.main__restaurant {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 30px;
}
.main__restaurant .card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 0px 15px;
  position: relative;
  background: #fff;
}
.main__restaurant .card a img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 170px;
}
.main__restaurant .card .btn__card {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 1px;
  position: absolute;
  right: 5%;
  top: 5%;
}
.main__restaurant .card .heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__restaurant .card .text__card {
  padding: 10px 20px;
}
.main__restaurant .card .text__card p {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
}
.main__restaurant .card .text__card .heart h4 {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .restaurant {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 800px) {
  .main__restaurant {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 0 200px;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 46%;
  }
}
@media screen and (min-width: 800px) {
  .restaurant .restaurant__title {
    padding-left: 215px;
  }
}
footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}

h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 0px 0 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.fill {
  color: black;
  cursor: pointer;
  font-size: 1.3em;
}
.fill:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 20px;
}

.menu__main img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.menu__title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 25px 15px;
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 75px;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.cross {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  width: 25px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.line {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-left: 10px;
}

.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.last__line p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.last__line span {
  margin-right: 5px;
}

.meals h4 {
  margin: 0;
}

.starter, .dish, .dessert {
  margin-bottom: 40px;
}

.starter h3, .dish h3, .dessert h3 {
  padding: 0px 0px 0px 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.btn__order {
  display: flex;
  justify-content: center;
}

.btn__order button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 30px 0px;
  padding: 20px;
  width: 50%;
}
.btn__order button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

/*# sourceMappingURL=style.css.map */
